@charset "utf-8";
/* CSS Document */

.top-action{display:block;width:50%; height:50px;border-shadow:3px 3px 3px; border-radius:10px;}
.rt-center{margin:auto auto;}
.user-list{width:75%;border-shadow:3px 3px 3px; border-radius:10px;}
.surround{}
.checkbox{}
.picture{}
.name{}
.subline{}
