<div class="top-action"></div>
<div class="rt-center"> List of all users that can take an oath with you
  <div class="user-list">
    <div class="surround">
      <div class="checkbox">
        <label>
        <input type="checkbox" value="">
        <div class="picture"><img src="images/uploade/picture.jpg"></div>
        <div class="name"></div>
        <div class="subline"></div>
        </label>
      </div>
    </div>
  </div>
</div>
