<div class="top-action">Input </div>
<div class="rt-center"> List of all users that can take an oath with you
  <div class="user-list">
    <div class="surround">
      <div class="check">
        <input type="checkbox" name="check" id="check">
      </div>
      <div class="picture"><img src="images/uploade/picture.jpg"></div>
      <div class="name"></div>
      <div class="subline"></div>
    </div>
  </div>
</div>
