
<div class="row">
<span class="nobreak">
<input type="text" class="form-control desc" placeholder="Oath Description"></li>
<input type="date" class="form-control date" placeholder="Oath Description">
</span>
</div>

<div class="mapster">
  <div>Checkin Location <br />
  <div style="overflow: visible;" id="map-canvas" />
  </div>
</div>

<form id="ContractForm" role="form">
  <div class="form-group">
    <textarea name="oath" rows="5" cols="100" placeholder="What is your oath"></textarea>
  </div>
  <div class="form-group">
    <select>
  	   <% for (i=0;i<allUsers.length;i++) { %>
        <option value="<%= allUsers[i].id %>"><%= allUsers[i].get('name') %></option>
      <% } %>
  	</select>
    
  </div>

<div>
  <div>What happens next?</div>
  <div>  
  <span><input type="checkbox" value="theFacts">Get the Facts Only</input></span>
  <span><input type="checkbox" value="donateMoney">Donate 5 bucks</input></div></span>
</div>  

</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5Y7KGWP9FZQQY">
<input type="submit" class="btn btn-default submit" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" value="Donate">
</form>















