<div>
<div class="content">
<h1>Our Story</h1>
<p>Oath is honesty in an app. This revolutionary self help tool will make you.</p>
<h2>Layout</h2>

<p>This app is a self help tool that is made to keep you honest. Unlike other apps this app will detect wehre you are and make sure you keep your promises. 
</p>


</div>
</div>