<div>
<div class="content">

<h1>Our Story</h1>
<p>Oath is honesty in an app. This is a revolutionary self helping tool.</p>

<div class="break">&nbsp;</div>

<h2>Our Idea</h2>
<p>This app is a self help tool that is made to keep you honest. This is unlike any other app, this app will detect where you are and make sure you keep your promises.</p>

<div class="break">&nbsp;</div>

<h3>Our Oath</h3>
<p>To help keep promises.</p>

</div>
</div>