<<<<<<< HEAD
<!--

-->

<button id="loginWithFacebookButton">Login with Facebook</button>

<!--
<script>
  new LoginView();
</script>
-->
=======


<div class="rt-center">
	<form action="user.login">
		<input type = "email" name="email" placeholder="Email" id="email" />
		<input type="password" name ="password" placeholder="Password" id="password">
		<input type ="password" name="confirmPassword" placeholder="Confirm Password">
	</form>
</div>
>>>>>>> 2d8f3cfac32abfd5dc020f8cb1e119266ae4198b

