<!--
<div class="rt-center">
	<form action="user.login">
		<input type = "email" name="email" placeholder="Email" id="email" />
		<input type="password" name ="password" placeholder="Password" id="password">
		<input type ="password" name="confirmPassword" placeholder="Confirm Password">
	</form>
</div>
-->

<button id="loginWithFacebookButton">Login with Facebook</button>

<!--
<script>
  new LoginView();
</script>
-->

<script>
$("#loginWithFacebookButton").click(function(){
  Parse.FacebookUtils.logIn(null, {
    success: function(user) {
      if (!user.existed()) {
        alert("User signed up and logged in through Facebook!");
		app.redirect('create');
      } else {
        alert("User logged in through Facebook!");
      }
      window.location.href = "/home";
    },
    error: function(user, error) {
      alert("User cancelled the Facebook login or did not fully authorize.");
    }
  });
});
</script>
