
<div class="rt-center">
	<form action="user.login">
		<input type = "email" name="email" placeholder="Email" id="email" />
		<input type="password" name ="password" placeholder="Password" id="password">
		<input type ="password" name="confirmPassword" placeholder="Confirm Password">
	</form>
</div>
