<h1><%= oath.get('description') %></h1>

<button id="imHere" class="btn btn-large">I'm Here</button>



<script>

$("#imHere").click(function() {
	navigator.geolocation.getCurrentPosition(
		function(position) {
		$.get('/imHere/<%= oath.get('objectId') %>/' + position.coords.latitude + "/" + position.coords.longitude,
		function(data) {
				console.log(data);
			}
		);
	});
});

</script>